.content-box {
	background-color: $white;
	box-shadow: 2px 1px 25px $shadow;
	margin: 20px;
	min-height: 500px;
}

.page-header {
	display: flex;
	border-bottom: 0.3px solid $border-color;
	height: 50px;

	h2 {
		display: flex;
		font-weight: $page-header-weight;
		font-size: $page-header-size;
		color: $page-header-color;
		padding-left: 20px;
		text-transform: uppercase;
		align-items: center;
	}
}
.section {
	border-bottom: 0.3px solid $border-color;
}

.box-section {
	margin: 0 150px;
	
	h3 {
		font-weight: $section-header-weight;
		font-size: $section-header-size;
		color: $section-header-color;
	}
	
}