/* --- BOX WITH SHADOW  --- */

.content-box {
	background-color: $white;
	box-shadow: 2px 1px 25px $shadow;
	margin: 20px;
	min-height: 500px;
}

/* --- PAGE HEADER  --- */

.page-header {
	display: flex;
	border-bottom: 0.3px solid $border-color;
	height: 50px;

	h2 {
		display: flex;
		font-weight: $page-header-weight;
		font-size: $page-header-size;
		color: $page-header-color;
		padding-left: 20px;
		text-transform: uppercase;
		align-items: center;
	}
}

/* --- END OF THE SECTION  --- */

.section {
	border-bottom: 0.3px solid $border-color;
}

/* --- SECTION WITH HEADER  --- */

.box-section {
	margin: 0 150px;
	
	h3 {
		font-weight: $section-header-weight;
		font-size: $section-header-size;
		color: $section-header-color;
	}
	
}

/* --- DATE PICKER  --- */

.date-picker {
	display: flex;
	align-items: center;
    justify-content: center;
	margin: 0 150px;
	height: 100px;
	
	div.calendar-baner {
		display: flex;
		flex-direction: row;
		align-items: center;
		height: 40px;
		border: 1px solid $border-color;
		border-radius: 5px; 

		span {
			margin: 0 10px;
		}

	}

	div:first-child {
		border-right: 1px solid $border-color;;
	}


}


