/* {
	border: 1px solid #ccc;
}*/

h1, h2, h3, h4, h5, h6, p, a, span, td {
	font-family: $main-font;
}

.reset {
	margin: 0;
	padding: 0;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* --- CONTENERS  --- */

html {
    height: 100%;
}

body {
    height: 100%;   
    overflow: hidden;
    margin: 0px;
    display: flex;
    box-sizing: border-box;
}

.column {
    height: 100%; 
    display: flex;
    flex-direction: column; 
}

#left {
    flex-shrink: 0;  
}    

.top-left {
    display: flex;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 15vw;
    height: 60px;
}

.top-right {
    flex-shrink: 0;
    display: inline-flex;
    width: 85vw;
    height: 60px;
}

ul.sidebar-menu {
    flex-wrap: wrap;
    list-style: none;
    flex-direction: column;

    li {
        display: flex;
        align-items: center;
        flex-basis: 100%;
        height: 40px;

        a {
            display: flex;
            text-align: center;
        }
    }
}


.bottom {
    flex-grow: 1;  
    overflow-y: auto;
}

.hamburger  {
    margin: 20px;
    width: 20px;
    height: 20px;
    border: 0;
    border-top: 2px solid $section-header-color;
    background: transparent;
    position: relative;


    &::before, &::after  {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 2px solid $section-header-color;
        transform: translateY(6px);
    }

    &::after  {
        transform: translateY(14px);
    }
}

svg {
    fill: $section-header-color;
    height: 20px;
    margin: 0 15px;

    &:hover {
        cursor: pointer;
    }
}
