
/* --- Colors --- */

$main-background-color: #f5f5f2;
$section-background-color: #ffffff;
$border-color: #e3e3e3;


$hamburger-color: #999999;
$sidebar-menu-background-color: #191919;
$sidebar-menu-hover-color: #282828;

$general-font-color: #a6a6a6;
$main-menu-font-color: #9c9c9c;
$sidemenu-font-hover: #f5f5f2;
$link-color: #56819f;
$link-hover-color: #ffa200;
$black-color: #000000;
$white-color: #ffffff;


$table-hover-color: #f1f3f3;

$button-color: #f58220;
$grey-button: #f5f5f2;
$online-color: #04ae00;

/* --- Font sizes --- */

$value-font-size: 20px;
$button-font-size: 18px;
$main-font-size: 16px;
$sidebar-font-size: 14px;
$nick-name-size: 13px;
$notification-font-size: 12px;


/* --- Fonts --- */

$main-font: myriad-pro, sans-serif;
