table.table-links {
	margin: 30px 0;
	border-spacing: 0 0.5px;
	width: 100%;
	table-layout: fixed;


	td {
		font-weight: $row-name-weight;
		font-size: $row-name-size;
		color: $row-name-color;
	  	height: 20px;
	  	padding: 10px 0 10px;
	 	border-bottom: 1px solid #ccc;
		margin-left: 20px;
		padding: 20px 10px 20px 20px;

	}

	td.table-icon {
		padding: 10px 10px 10px 0px;

		svg {
			height: 10px;
		}

		a {
			opacity: 0;

			:hover {
				fill: $link-hover-color; 
			}
		}
	}

	a {
		text-decoration: none;
		color: $link-color;
		font-size: $large-link-size;
	}
}


table.table-links tr:hover {
	background-color: $color-tab-hover;
	
	a {
		opacity: 1;
	}
}

tr:first-child > td {
	border-top: 1px solid #ccc;
}

@media (min-width: 768px) and (max-width: 1199px) {

	.box-section {
		margin: 20px 50px;
	}
	td.table-icon {
		width: 50px;
	} 
}

@media screen and (max-width: 767px) {

	.box-section {
		margin: 20px 20px;
	}
	.one-digit-table-section {
		flex-direction: column !important;
	}
}
