/* --- HAMBURGER  --- */

.hamburger  {
    margin: 20px;
    width: 20px;
    height: 20px;
    border: 0;
    border-top: 2px solid $section-header-color;
    background: transparent;
    position: relative;


    &::before, &::after  {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 2px solid $section-header-color;
        transform: translateY(6px);
    }

    &::after  {
        transform: translateY(14px);
    }
}

/* --- SIDEBAR LOGO  --- */

.top-left {
    a {
        width: 100%;
        display: flex;

        img {
            margin: 15px;

            .main-logo {
                display: none;

                 &:active, &.show {
                    display: block;
                }
            }
        }
    }
}

/* --- SIDEBAR MENU LIST  --- */

ul.sidebar-menu {
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: column;

    li {
        display: flex;
        align-items: center;
        flex-basis: 100%;
        height: 40px;

        &:hover {

            background-color: $side-menu-hover-backround;

            .orange-hover-bar {
                height: 40px;
                width: 5px;
                background-color: $color-tab-orange;
            }

            span {
                color: $white;
            }

            svg {
                fill: $white;
            }
        }

        a {
            display: flex;
            text-align: center;
            height: 40px;
            width: 40px;
            margin: 0 10px;

        }

        span {
            color: $section-header-color;
            font-size: $standard-text-size;

            .side-title {
                display: none;

                &:active, &.show {
                    display: block;
                }
            }
        }
    }
}

/* --- SIDEBAR MENU ICONS  --- */

svg {
    fill: $section-header-color;
    height: 20px;
    margin: 10px 10px;

    &:hover {
        cursor: pointer;
    }
}
