
/* --- Hamburger --- */

.hamburger  {
    width: 20px;
    height: 20px;
    border: 0;
    border-top: 2px solid $hamburger-color;
    background: transparent;
    position: relative;


    &::before, &::after  {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 2px solid $hamburger-color;
        transform: translateY(6px);
    }

    &::after  {
        transform: translateY(14px);
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    /* position: fixed; */
    height: 100vw;
    max-width: 200px;
    background-color: $sidebar-menu-background-color;
    z-index: 10000;

    header {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      height: 60px;

        .main-logo {
            display: none;

            &:active, &.show {
                display: block;
            }
        }
    }
}


.sidebar-nav {
    ul  {
        flex-wrap: wrap;

        li {
          display: flex;
          align-items: center;
          flex-basis: 100%;
          height: 40px;

          a {
            display: flex;
            text-align: center;

            .personaldata {
                margin: 0 19px; 
            }
          }
        }
    }

    .side-title {
        display: none;
        padding: 15px 20px;
        color: $general-font-color;
        font-size: $sidebar-font-size;
        font-weight: 500;

        &:active, &.show {
            display: block;
            }
    }
}

/* --- Sidebar --- 

.sidebar  {
    top: 0;
    overflow:hidden;
    background-color: $sidebar-menu-background-color;
    -webkit-transform: translateZ(0);
    visibility: visible;
    -webkit-backface-visibility: hidden;
  
    header  {
        background-color: $sidebar-menu-background-color;
        width: 100%;
        height: 60px;
    }
}

/* --- Sidebar Nav --- 

.sidebar-nav  {
    position: fixed;
    background-color: $sidebar-menu-background-color;
    height: 100%;
    overflow: auto;
    padding-bottom: 6em;
    z-index: 9;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
 
  
    ul  {
        list-style:none;
        display: block;
        padding: 0;
        margin: 0;
    
        li {
            margin-left: 0;
            padding-left: 0;
            //min-width: 13em;
            display: flex;
            align-items: center;
            width: 100%;

            &:hover {

                background-color: $sidebar-menu-hover-color;
                text-fill-color: $white-color;
                -webkit-text-fill-color: $white-color;
                border-left: 6px solid $button-color;
                cursor: pointer;

                    svg {
                        fill: $white-color;
                    }

                }

            span  {
                color: $general-font-color;
                font-size: $sidebar-font-size;
                font-weight: 500;
                padding: 1.05em 1em;
                position: relative;
                display:block;
            } 
        }
    }
}

--- */