/* --- alignment --- */

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* --- box --- */

.flex {
	display: flex;
}

.box {
	background-color: $white-color;
	box-shadow: 2px 1px 25px $border-color;
	margin: 20px;
	min-height: 500px;

	h2.box-title {
		padding: 5px 15px;
	}
}

.box-border {
	border-bottom: 0.3px solid $border-color;
}

.box-margin {
	margin: 0 150px;
}

/* --- statistic table --- */

.statistic-table {
	flex-direction: column;
	min-height: 50vh;
}

table {
	margin: 30px 0;
	border-spacing: 0 0.5px;
}

td, th {
  height: 20px;
  padding: 10px 0 10px;
  border-bottom: 1px solid #ccc;
}

td {
	margin-left: 20px;
	padding: 20px 100px 20px 20px;
}



/* --- calendar --- */

.calendar {
	height: 25vh;
	flex-direction: row;
}
.calendar-baner {
	display: flex;
	height: 40px;
	border: 1px solid $border-color;
	border-radius: 5px; 

	span {
		margin: 0 10px;
	}
}
.left-border {
	border-left: 1px solid $border-color;
}

/* --- link table --- */


table.table-links {
	margin: 30px 0;
	border-spacing: 0 0.5px;
}

td.table-icon {
	padding: 10px 10px 15px 0px;

	svg {
		height: 10px;
	}
}

.table-icon {

	a {
		opacity: 0;

	:hover {
		fill: $orange-color; 
		}

	}


}

table.table-links tr:hover {
	background-color: $grey-color;
	
	a {
		opacity: 1;
	}
}





